*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
:root{
    --bs-body-color: #ffffff;
    --bs-accordion-btn-bg:  rgb(65,65,65);
}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/assets/header-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.375rem;
    max-width: calc(100% - 4rem);
    margin: auto;
   
}
.logo{
    
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229,9,20);
    fill: currentColor;
    display: block;

}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}
.header-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.font-size-48px{
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}
.form-control, .form-control:hover, .form-control:focus{
   background: #00000090 !important;
   color: #ffffff;
   padding-right: 15vmin;
   border-color: #fff;
    box-shadow: none;
}
.default-ltr-cache-hyhv56{
  font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5rem;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: top, font-size, line-height;
  transition-duration: 250ms;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
  left: 1rem;
  right: 1rem;
  top: 1rem;
}
label:has(+input:focus){
  top: 0;
  font-size: 8px;
}
.start-btn{
 
    flex: 0 0 auto;
    margin-top: 0;
    margin-left: 0.5rem;
    appearance: none;
    font-family: sans-serif;
    margin: 0px;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    user-select: none;
    border: 0px;
    border-radius: 0.25rem;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);

}
.divider{
  content: "";
  height: 0.5rem;
  background-color: rgb(35,35,35);
  width: 100%;
}
h2{
  text-justify: auto;
  font-size: 3rem;
  font-weight: 900;
  padding: 0 1rem;
  margin-bottom: 0%;
}
p {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 400;
  margin: 1rem 0 0;
  padding: 0 1rem;
  
}
.default-ltr-cache-m5f3qu {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.accordion-header{
  background-color: rgb(65,65,65);
  font-size: 24px;

  padding: 0;
  border-radius: 0;
}
.accordion-button{
  background-color:  rgb(44, 44, 44);
  font-size: 24px;
  font-weight: 500;
  font-family: sans-serif;
  color: #ffffff;
}
.accordion-button:hover {
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  background-color: rgb(65,65,65);
}
.accordion-button:not(.collapsed){
  background-color:  rgb(65,65,65);
  color: #ffffff;
}
.accordion-item{
  border: none;
  margin-bottom: 10px;
}
.accordion-button:focus{
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after{
  transform: rotate(45deg);
  background-image: url("assets/plus.svg");

}
.accordion-button::after{
  background-image: url("assets/plus.svg");
  font-size: 24px;
}

.accordion-section{
  padding: 0 1rem;
}